<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup_scroll {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .submit-btn{
    width: 30%;
  }
  
  #mc_embed_signup{
    background:#fff; 
    clear:left; 
  }
  #mc_embed_signup form{
    padding:0;
  }

  #mc_embed_signup input{
    width:100%;
    margin:0;
    text-transform: lowercase;
  }

  #mc_embed_signup .mc-field-group{
    width:70%;
  }

  #mc_embed_signup .mc-field-group input{
    min-height: 46px;
    padding: 12px;
    border-radius: 0px;
    text-transform: unset;
  }

  #mc-embedded-subscribe{
    min-height: 46px;
    border:none !important;
    background: #165C7D;
    border-radius: 0 13px 13px 0 !important;
    padding: 0 5px;
    letter-spacing: 0.5px;
    font-weight: 500;
  }
  
  #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error{
  margin:0;
  }
  
  #mc_embed_signup div.response{
    padding: 0;
    width: 100%;
  }

  #mc_embed_signup div#mce-responses {
    padding: 0;
    width: 100%;
    margin: 0;
    font-size: 12px;
  }
  
  #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error{
  font-size:10px;
  }
</style>
<div id="mc_embed_signup">
  <form action="https://mothercare.us15.list-manage.com/subscribe/post?u=97f24e4f3c61aff0ff5bdd25b&amp;id=97600d1d8f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <input type="email" 
               value="" 
               name="EMAIL" 
               class="required email" 
               id="input-group__field newsletter__input"
               placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
               aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
               >
      </div>
       <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_97f24e4f3c61aff0ff5bdd25b_97600d1d8f" tabindex="-1" value=""></div>
      <div class="clear submit-btn">
        <input type="submit" value="{{ 'general.newsletter_form.submit' | t }}" name="subscribe" id="mc-embedded-subscribe" class="btn newsletter__submit">
      </div>

      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>   
      

    </div>
  </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE1';ftypes[1]='text';fnames[2]='MMERGE2';ftypes[2]='number';fnames[3]='MMERGE3';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
