<style>
  .account-detail-header{  
    margin: 0;
    color: #888;
    background: #f6f6f6;
    font-size: 16px;
    line-height: 21px;
    padding: 9px 20px;
    border: 1px solid #d6d6d6;
    font-weight: normal;
  }
  
  .form-vertical {
    border-left: 1px solid rgb(235, 235, 235);
    border-right: 1px solid rgb(235, 235, 235);
    border-bottom: 1px solid rgb(235, 235, 235);
    padding: 10px 20px;
  }
  
  .reset-pw {
    padding-top:10px;
    display:block;
  }
</style>
<div class="page-width">
  <div class="grid myaccount">
    {% include 'account-side-menu' %}
    <div class="grid__item medium-up--three-quarters">
      <div class="account-detail-header">
      Account Details
      </div>
      <div class="form-vertical">
        {%- assign formId = 'RegisterForm' -%}
        {% render "customer-fields", form_id: "ewt0De" %}
        <a class="reset-pw" href="/account/login#recover">Reset Password</a>
      </div>
    </div>
  </div>
</div>

